config SHIELD_JSSPLIT_LEFT
    def_bool $(shields_list_contains,jssplit_left)
  
config SHIELD_JSSPLIT_RIGHT
    def_bool $(shields_list_contains,jssplit_right)
  
config SHIELD_JSSPLIT_DONGLE
    def_bool $(shields_list_contains,jssplit_dongle)
